* {
  box-sizing: border-box;;
}
body {
  color: #222;
  padding-bottom: 4em;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 400;
  line-height: 1.5;
}
.icon {
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  width: 6em;
  height: 6em;
  display: block;
  margin: 0 auto;
}
header {
  margin: 3em 0;
  padding: 0 2em;
}
h1 {
  font-weight: 200;
  margin: 0.5em 0;
}
.states {
  overflow: hidden;
}
.states__item {
  float: left;
  width: 50%;
  padding: 2em;
}
@media screen and (min-width: 800px) {
  header {
    margin: 6em 0;
  }
  .icon {
    width: 8em;
    height: 8em;
  }
  .states__item {
    width: 25%;
  } 
}